<div id="<%= dom_id produto %>" class="product-container">
  <p class="product-detail">
    <span class="product-label"><strong>Nome:</strong></span>
    <span class="product-value"><%= produto.nome %></span>
  </p>

  <p class="product-detail">
    <span class="product-label"><strong>Descrição:</strong></span>
    <span class="product-value"><%= produto.descricao %></span>
  </p>

  <p class="product-detail">
    <span class="product-label"><strong>Preço:</strong></span>
    <span class="product-value"><%= produto.preco %></span>
  </p>
</div>
