<h1 class="page-title">Editing produto</h1>

<%= render "form", produto: @produto %>

<br>

<div>
  <%= link_to "Show this produto", @produto, class: "link back-button" %> |
  <%= link_to "Back to produtos", produtos_path, class: "link back-button" %>
</div>
